/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/* Header Styling */

:root {
    font-family: "Noto Sans Mono", monospace;
    --fs-400: 16px;
    --fs-600: 20px;
    --font-color: #fff;

    --max-width: 900px;
    --min-padding: 3rem;
}

@media (width < 600px) {
    :root {
        --fs-400: 12px;
        --fs-600: 16px;
        --min-padding:1rem;
    }
}

body {
    background-color: #d8e9f0;
    font-size: var(--fs-400);
    color: var(--font-color);
    margin-bottom: 2rem;
}

.title {
    font-size: var(--fs-600);
    padding: 2rem;
    text-align: center;
    background-color: #33425b;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 7px 10px #888;
}

.container {
    width: min(var(--max-width), calc(100% - (2 * var(--min-padding))));
    margin-inline: auto;
}

/* New Task */

#new-task-input {
    background-color: #fff;
    color: #33425b;
    padding: 1rem;
    margin-block: 2rem;
    word-wrap: break-word;
    word-break: break-all;
}

#new-task-input label {
    display: none;
}

.task-detail .task-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.25rem;
    border-bottom: #33425b 1px solid;
    font-weight: bold;
}
.editable:empty::before {
    content: attr(data-placeholder);
    color: #33425baa;
}
.task-detail .task-description {
    width: 100%;
    padding: 0.5rem 0.5rem 0.25rem;
    border-bottom: #33425b 1px solid;
    margin-bottom: 1rem;
}
#category-dropdown {
    width: 20ch;
    border-radius: 5px;
    margin-block-end: 1rem;
}

.new-category {
    background-color: transparent;
    border: #33425b 2px solid;
    border-radius: 50%;
    width: min-content;
    aspect-ratio: 1;
    transition: background-color 1s, border 0.75s, outline 0.75s, rotate 1s;
}
.new-category[data-state="open"] {
    border: #fff 2px solid;
    background-color: #33425b;
    outline: 1px solid #33425b;

    color: #fff;
    rotate: 450deg;
}
.category-detail {
    position: relative;
}
.new-cat-box {
    /* display: none; */
    max-height:0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.new-category[data-state="open"] + .new-cat-box {
    max-height: calc(var(--fs-600) * 2 );
    padding-bottom: 0.5rem;
}
#task-submit button{
  background-color:#33425b;
  width: 15ch;
  outline: 1px solid #fff;
  outline-offset: -2px;
  box-shadow: 0 5px 5px black;
  color: #fff;
  transition: background 0.5s,scale 0.5s;
}
#task-submit button:is(:hover,:focus-within){
  background-color:#3e4c63;
  scale: 1.03;
}

/* Task Display */

.category-tab{
  margin-bottom: 1rem;
}

.category-tab .category-name{
  background-color: #33425b;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  width: 100%;
  outline: none;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-600);
}
.category-tab .category-name.active,
.category-tab .category-name:hover{
  background-color: #33425bee;
}


.tasks-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-rows: auto;

    max-height: 0;
    transition: max-height 1000ms ease-in;
    overflow-y: hidden;
}

.task {
    background-color: #fff;
    color: #2d3a50;
    padding: 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 1px 2px #111;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-heading {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;

    border-bottom: #33425b 1px solid;
}

@media (width < 600px) {
    .task-heading {
        display: block;
    }
    .task-date {
        display: inline-block;
        margin: 0.5rem 0;
    }
}

#task-pending[type="checkbox"] {
    appearance: none; /* Hide the native checkbox */
    background-color: white;
    margin: 0;
    cursor: pointer;
    color: currentColor;
    width: var(--fs-600);
    height: var(--fs-600);
    border: 0.2rem solid currentColor;
    border-radius: 5px;
    transform: translateY(-0.1rem);

    display: grid;
    place-content: center;
}
#task-pending[type="checkbox"]::before {
    content: "";
    width: calc(var(--fs-600) / 2);
    height: calc(var(--fs-600) / 2);

    transform: scale(0);
    transition: transform 120ms ease-in-out;
    box-shadow: inset 1em 1em #33425b;
}
#task-pending[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#task-pending[type="checkbox"]:focus {
    outline: max(2px, 0.1rem) solid currentColor;
    outline-offset: max(2px, 0.1rem);
}
.task-name {
    font-size: var(--fs-400);
}
.task-desc,
.task-date {
    font-size: var(--fs-400);
}
.task-desc {
    padding-top: 5px;
}

.task:has( #task-pending:checked){
    color: #888;
    text-decoration: line-through;
    font-style: italic;
    
}